@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
/*Barra de navegación*/
body>nav{
	background-color: #E28E16
}
body>nav>ul{
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 1.5em;
	overflow: hidden;

	transition: max-height 1s ease-in-out;
}
	body>nav>ul>li>a{
		display:block;
		padding: .2em;
		text-decoration: none;
		font-weight: bold;
	}
	body>nav>ul>li>a:hover{
		background-color: #21196B;
		color: #fff;
	}
	body>nav>ul>li:first-of-type>label{
		font-weight: bold;
		font-size: 1.5em;
		display: inline-block;
		cursor: pointer;
		transition:transform 1s;

	}							/* Menu hanburguesa*/
	#ckbmenu{
	display: none;					
	}
	#ckbmenu:checked+ul{
		max-height: 9em;
	}
	#ckbmenu:checked+ul>li:first-of-type>label{
		transform:rotate(90deg);
	}
								/* Fin haburguesa*/
	/*contenido*/
/* MAIN */
body>section>div{
	width: 55%;
	margin:auto;
	clear: both;
}
body>section>div>article{
	width: 50%;
	float: left;
	padding: 40px 40px;
	box-sizing: border-box;
}
body>section>div>article>header>a>h1{
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
body>section>div>article>header{
	text-align: center;
	margin-bottom: 10px;
	

}
body>section>div>article>header>a{
	text-decoration: none;
	color: #000000;
}
body>section>div>article>a>img{
	width: 100%;
}

body>section>div>article>footer{
	padding-top: 1em;
	border-top: 1px dotted #000000; /*añade linea de puntos*/
}
body>footer{
	display: table;
	background-color: #333;
	color: #FFFFFF;
	width: 100%;
	height: 8vmin;
	
}
body>footer:link{
	text-decoration: none;
}
*{
	margin:0;
	padding: 0;
}
#Titulo{
	vertical-align: middle;
	display:table-cell;
}
#Subtitulo{
	vertical-align: bottom;
	display: table-cell;
}
#texto_footer{
	padding-top: 2em;
	
}
#texto_footer>a{
	text-decoration: none;
	color: #ffeeff;
}
#texto_footer>a:hover{
	background-color: #6D6D6D
}
/*MEDIA QUERIES*/
@media all and (min-width:480px){
	body>nav>ul>li{
		display: inline-block;
	}
	body>nav>ul>li:first-of-type{
		display: none;
	}
	body>nav>ul>li>a>span:nth-of-type(2){
		display: none;
	}
}
@media all and (min-width:640px){
	body>nav>ul>li>a<span:nth-of-type(2){
		display:inline-block;
	}
}