@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Lobster');
html{
	background-color: #F4D2F4;
}

body>header>h1{
	font-family: 'Great Vibes', cursive;
	font-size: 3em;
	color: #56006E;
	vertical-align: middle;
	display:table-cell;


}
body>header>h3{
	font-size: 1.6em;
	padding-bottom: 0.5em;
}

body>header{
	display:table;
	/*background-image: url(recetas-fondo.jpg);*/
	background-color: white;
	width: 100%;
	height: 24vmin;
	left: 0;
	top: 0;
}
body>nav{
	background-color: #333;
}
body>nav>ul{
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 2.2em;
	overflow: hidden;

	transition: max-height 1s ease-in-out;
}
	body>nav>ul>li>a{
		display:block;
		padding: .2em;
		text-decoration: none;
		font-weight: bold;
		color: white;
	}
	body>nav>ul>li>a:hover{
		background-color: #6D6D6D;
	}
	body>nav>ul>li:first-of-type>label{
		font-weight: bold;
		color: white;
		padding: 0 .2em;
		font-size: 2em;
		display: inline-block;
		cursor: pointer;
		transition:transform 1s;

	}							/* Menu hanburguesa*/
	#ckbmenu{
	display: none;					
	}
	#ckbmenu:checked+ul{
		max-height: 14em;
	}
	#ckbmenu:checked+ul>li:first-of-type>label{
		transform:rotate(90deg);
	}
	body>nav>form{
		display: inline-block;
		*display: inline;
		border: 1px;
		padding: 3px 5px;
		
	}
	.searchform .searchfield {
		background: #fff;
		padding: 6px 6px 6px 8px;
		border: solid 1px #bcbbbb;
		outline: none;


	}
	.searchform .searchbutton {
		color: #fff;
		background: #5f5f5f;
		border-radius: 2em;

	}
/* MAIN */
body>section>div{
	width: 80%;
	margin:auto;
	clear: both;
}
body>section>div>article{
	width: 100%;
	float: left;
	padding: 40px 40px;
	box-sizing: border-box;
}
body>section>div>article>header>a>h1{
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
body>section>div>article>header{
	text-align: center;
	margin-bottom: 10px;
	

}
body>section>div>article>header>a{
	text-decoration: none;
	color: #000000;
}
body>section>div>article>a>img{
	width: 100%;
}

body>section>div>article>footer{
	padding-top: 1em;
	border-top: 1px dotted #000000; /*añade linea de puntos*/
}
body>section>div>article>footer>a{
	text-decoration: none;
	color: black;
}
body>footer{
	display: table;
	background-color: #333;
	color: #FFFFFF;
	width: 100%;
	height: 8vmin;
	
}
body>footer:link{
	text-decoration: none;
}
*{
	margin:0;
	padding: 0;
}

#Subtitulo{
	vertical-align: bottom;
	display: table-cell;
	align-content: right;
	font-size: 1.5em;
}
#texto_footer{
	padding-top: 2em;
	
}
#texto_footer>a{
	text-decoration: none;
	color: #ffeeff;
}
#texto_footer>a:hover{
	background-color: #6D6D6D
}
/*MEDIA QUEIRIES*/
@media all and (min-width:480px){
	body>header>h1{
		text-decoration: 200%;
	}
	body>nav{
		padding: 0.75em;
		font-size: 1.25em;
	}
	body>nav>ul>li{
		display:inline-block;
	}
	body>nav>ul>li:first-of-type{
		display:none;
	}
	body>nav>ul>li>a>span:nth-of-type(2){
		display:none;
	}
	body>section>div{
	width: 60%;
	margin:auto;
	clear: both;
}
body>section>div>article{
	width: 50%;
	float: left;
	padding: 40px 40px;
	box-sizing: border-box;
}
body>section>div>article>header>a>h1{
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
body>section>div>article>header{
	text-align: center;
	margin-bottom: 10px;
	

}
body>section>div>article>header>a{
	text-decoration: none;
	color: #000000;
}
body>section>div>article>a>img{
	width: 100%;
}

body>section>div>article>footer{
	padding-top: 1em;
	border-top: 1px dotted #000000; /*añade linea de puntos*/
}

} 
@media all and(min-width: 640px){
	body>nav>ul>li>a>span:nth-of-type(2){
		display: inline-block;
	}
}